body {
    background-image: url("../images/flamingoes.jpg");
    font-family: Gill Sans, sans-serif; ;
  }

.heading {
    max-width: 960px;
    margin: 0 auto;
    color: #AF1E29;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
}

.header2 {
    max-width: 960px;
    margin: 0 auto;
    color: #717D7E;
    font-size: 28px;
    text-align: center;    
}

.wrapper {
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -50px;
    padding 20px;
    background-color: white;
    border-color: #dddddd;
}
.content {
    display: inline-block;
    box-sizing: border-box;
    }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #020067;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #88888E;
  }
  
  div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }